body {
  font-family: 'Cormorant Garamond', serif !important;
  color: #121213;
  line-height: 1.1;
}

a {
  color: #fdb305;
}

a:hover {
  color: #e6573f;
  text-decoration: none;
}


@media (max-width: 700px){
  .no-border{
    border: none;
  }
}
/* h1, h2, h3, h4, h5, h6 {
font-family: "Raleway", sans-serif;
} */

nav{
  padding-top: 10px;
}


/* borders for company highlights */
.all-border{
  border: 2px solid white;
}

.no-left-border{
  border-top:2px solid white;
  border-right:2px solid white;
  border-bottom:2px solid white;
}

.no-top-border{
  border-left:2px solid white;
  border-right:2px solid white;
  border-bottom:2px solid white;
}

.no-top-left-border{
  border-right:2px solid white;
  border-bottom:2px solid white;
}

@media (max-width: 768px){
  .all-border{
    border: none;
  }

  .no-left-border{
    border: none;
  }

  .no-top-border{
    border: none;
  }

  .no-top-left-border{
    border: none;
  }
}

/* end */

/* contact us */
.con-con-style{
  padding-top: 70px;
  padding-bottom: 30px;
}

.line-style{
  line-height:1.5;
}

.pad-right{
  padding-right: 0.25rem;
}

.pad-left{
  padding-left: 0.25rem;
}

@media (max-width:768px) {
  .pad-right{
    padding-right: 0;
    padding-left: 0;
  }

  .pad-left{
    padding-left: 0;
    padding-right: 0;
  }

}
/* end */

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: #fdb305;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #020156;
  color: #fff;
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  background: #01033e;
  padding: 10px 0;
  font-size: 14px;
}

#topbar .contact-info {
  color: #fff;
}

#topbar .contact-info a {
  line-height: 1;
  color: #fff;
  transition: 0.3s;
}

#topbar .contact-info a:hover {
  color: #e96b56;
}

#topbar .contact-info i {
  color: #e96b56;
  padding: 4px;
}

#topbar .contact-info .icofont-phone {
  padding-left: 20px;
}

#topbar .social-links a {
  color: #fff;
  padding: 4px 0 4px 16px;
  display: inline-block;
  line-height: 1.1;
  transition: 0.3s;
}

#topbar .social-links a:hover {
  color: #e96b56;
}

#topbar .social-links a:first-child {
  border-left: 0;
}

/*--------------------------------------------------------------
# Nav
--------------------------------------------------------------*/
#nav1 {
  height: 70px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding:0;
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
}

#nav{
  padding-top: 10px;
}

#nav1 .logo h1 {
  font-size: 30px;
  padding: 0 0 0 8px;
  margin: 11px 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  border-left: 8px solid #e96b56;
}

#nav1 .logo h1 a, #nav1 .logo h1 a:hover {
  color: #01033e;
  text-decoration: none;
}

#nav1 .logo img {
  padding: 0;
  margin: 0;
  max-height: 50px;
}

@media (max-width:420px) {
  .logo{
    display: flex;
    align-items: center;
    justify-content: center
  }
}




/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.logo-sub-text{
  font-weight: 100;
  margin-bottom: 0px;
}

.logo-img{
  /* width:150%; */
  width: 80%;
}

@media (max-width:900px) {
    .logo-img{
      width: 80%;
     
    
    }

    .logo-sub-text{
      text-align: center;
      padding: 5px;
    }

    
    .media-label{
      text-align: center;
      padding-top:0;
      margin-bottom: 0;
      background-color: orange;
    }

    /* .logo-info{
      margin-top: 50px;
    } */
}




.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #01033e;
  padding: 13px 0 15px 25px;
  transition: 0.3s;
  font-size: 18px;
  font-weight: 500px;
  font-family: 'Cormorant Garamond', serif;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #fdb305;
  text-decoration: none;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 20px;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #fdb305;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 20px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #fdb305;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #545454;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #fdb305;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(59, 59, 59, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Slide Section
--------------------------------------------------------------*/
/* intro section */
.carousel-indicators li {
    width: 15px !important;
    height: 15px !important;
    border-radius: 100%;

}

.img-hidden{
  height:21.875rem;
  overflow:hidden;
  padding-top:70px;
}

@media (max-width:900px){
    .img-hidden{
      height: 190px;
      padding-top:40px;
      
  }
  
  .img-3{
    height: 300px;
  }

  .change{
    height: 200px;
  }

  .phone-size{
    padding-left: 30px !important;
    padding-right: 30px !important;
  }

  .p-investor{
    padding-top: 50px;
  }

  .carousel-control-prev{
    padding-top: 75px;
  }

  .carousel-control-next{
    padding-top: 75px;
    margin-top: 32px;
  }

  
}

.mining-pic{
  padding: 0;
}

.mining-img{
  width:100%;
  height:250px;
  /* height:450px; */
  margin-top:70px;
}

.intro-text{
  font-size: 1.3rem;
  margin-bottom: 0;
  padding-top: 4px;
}

@media (max-width:420px){
  .intro-text{
    font-size: 15px;
    font-family: 'Tangerine', serif;
  }
}

/* .intro-row-margin{
  margin-top: 2px;
} */

.vision-heading-col{
 background-color:black;
 /* font-family:'Garamond';  */
 border-right: 2px solid white;
}

.vision-heading-col h6{
  font-weight:bold;
}

@media (max-width:900px){
  .vision-heading-col h6{
    font-weight:lighter;
  }
}

.cursive-heading h6{
  /* font-family:'Monotype Corsiva'; */
  font-family: 'Great Vibes', cursive;
  animation: color-change 20s infinite;
  animation-delay: 5s;
  /* animation-name: cursive;
  animation-duration: 10s;
  animation-iteration-count: 10; */
}

@keyframes color-change {
  0% { color: black; }
  5% { color: #808080 }
  /* 15%{color: black;} */
  100%{color: black;}
  /* 100% { color: black; } */
}

/* end of into */

/* projects */
  .project-con{
    padding-top: 15px;
  }

  .zero-pt-pb{
    padding-top: 0;
    padding-bottom: 0;
  }

  .zero-pr{
    padding-right: 0;
  }

  @media (min-width:900px){
    .p-investor{
      padding-top: 100px !important;
    }
  }

  @media (max-width:900px){
    .zero-pr{
      padding-left: 0;
    }

    .p-investor{
      padding-top: 50px !important;
    }
   
  }

/* projects heading */
  .project-heading{
    padding-bottom:0.9375rem;
  }

  .project-heading h2{
    /* font-family:'Garamond'; */
    margin-bottom:0.9375rem; /*35px*/
  }

  .project-heading p{
    font-size: 1.25rem; /* 20px*/
  }
/*end of  projects heading*/

/* body of projects heading */
  .pro-body-row{
    margin-bottom: 35px;
  }

  .pro-body-heading{
    background-color:black;
  }

  .white-stroke{
    border-right: 2px solid white;
  }

  .pro-body-heading h6{
    margin-top: 8px;
  }

  .pro-body-content{
    line-height: 1.5;
  }
/* end of projects heading */

/* projects benefit section */
  .magb-35{
    margin-bottom: 35px;
  }

  .project-benefits-heading{
    padding-bottom:0.9375rem;
  }

  .project-benefits-heading h2{
    /* font-family:'Garamond'; */
    margin-bottom:0.9375rem; /* 15px*/
  }

  .project-benefits-heading p{
    font-size: 1.25rem;
  }

  .list-div{
    padding-top: 16px;
    line-height: 1.5;
  }

  .both-white-strokes{
    background-color:black;
    border-right: 2px solid white;
    border-left: 2px solid white;
  }
/* end of projects benefits heading */

/* contact page */
.img-hidden-contact{
  height:23.875rem;
  overflow:hidden;
  padding-top:75px;
}

@media (max-width: 900px){
  .img-hidden-contact{
    height:200px;
    overflow:auto;
    padding-top:40px;
  }
}

/* end */

/* end of projects */

#slide {
  width: 100%;
  height: 70vh;
  background-color: rgba(59, 59, 59, 0.8);
  overflow: hidden;
  padding: 0;
  margin-bottom: 1px;
  position: relative;
  z-index: 1;
}


#slide .carousel-item {
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: center center;
}

#slide .carousel-item::before {
  content: '';
  background-color: rgba(255, 255, 255, 0.08);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.slidetxtbox{
  height:180px;
  width: 850px;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: justify;

}

.slideimg{
  width: 100%;
  height: 70vh;

}

#slide h2 {
  color: #2e2e2e;
  margin-bottom: 10px;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 2px #fdb305;

}

.slidebtn{
  height: 40px;
  width: 180px;
}

#slide p {
  width: 100%;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  margin: 5px auto 5px auto;
  color: arken(#545454, 15);
}



#slide .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  padding-bottom: 5px;
}

#slide .carousel-content {
  text-align: center;
}



#slide h2 span {
  color: #fdb305;
}


#slide .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top;
}

#slide .carousel-inner .carousel-item,
#slide .carousel-inner .active.carousel-item-left,
#slide .carousel-inner .active.carousel-item-right {
  opacity: 0;
}

#slide .carousel-inner .active,
#slide .carousel-inner .carousel-item-next.carousel-item-left,
#slide .carousel-inner .carousel-item-prev.carousel-item-right {
  opacity: 1;
  transition: 0.5s;
}

#slide .carousel-inner .carousel-item-next,
#slide .carousel-inner .carousel-item-prev,
#slide .carousel-inner .active.carousel-item-left,
#slide .carousel-inner .active.carousel-item-right {
  left: 0;
  transform: translate3d(0, 0, 0);
}

#slide .carousel-control-prev, #slide .carousel-control-next {
  width: 10%;
}

#slide .carousel-control-next-icon, #slide .carousel-control-prev-icon {
  background: none;
  font-size: 48px;
  line-height: 1;
  width: auto;
  height: auto;
  color: #545454;
}

#slide .carousel-indicators li {
  cursor: pointer;
  background: #fdb305;
  overflow: hidden;
  border: 0;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  margin-bottom: 180px;
  opacity: .2;
}

#slide .carousel-indicators li.active {
  opacity: 1;
}

#slide .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid #fdb305;
  background: #fdb305;
}

#slide .btn-get-started:hover {
  background: transparent;
  color: #fdb305;
  text-decoration: none;
}

@media (max-height: 768px), (max-width: 1200px) {
  #slide {
    margin-bottom: 10px;
  }
  #slide .carousel-container {
    padding-bottom: 0;
  }
  #slide .carousel-indicators li {
    margin-bottom: 0;
  }

  .slideimg{
  width: 100%;
  height: 70vh;


}

@media (max-width: 768px) {
  #slide {
    height: 65vh;
  }
  #slide .carousel-item {
    height: 65vh;
  }

  .slidetxtbox{
  height:195px;
  width: 550px;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: justify;

}

.slideimg{
  width: 100%;
  height: 70vh;

}

#slide h2 {
  color: #2e2e2e;
  margin-bottom: 5px;
  font-size: 35px;
  font-weight: 500;
  text-shadow: 2px #fdb305;

}

.slidebtn{
  height: 60px;
  width: 180px;
}

#slide p {
  width: 80%;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  margin: 5px auto 5px auto;
  color: arken(#545454, 15);
  line-height: 1.1;
}



}

@media (min-width: 1024px) {
  #slide p {
    width: 50%;
  }
  #slide .carousel-control-prev, #slide .carousel-control-next {
    width: 5%;
  }
}


.imgserv{
  height: 230px;
  width: 500px;
}

hr.new{
  border-top: 5px solid #04165d21;
  width: 100%;
}
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 0 0 1px 0;
}

.section-bg {
  background-color: white;
}

.section-title {
  text-align: center;
  padding-bottom: 0;
}

.section-title h2 {
  font-size: 30px;
  font-weight: 600;
  /* margin-bottom: 15px; */
  padding-bottom: 5px;
  position: relative;
  font-family: 'Cormorant Garamond', serif;
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #fdb305;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-title-2 h2::after{
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #fff;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 10px 0 10px 0;
  background: #f7f7f7;
  border-bottom: 1px solid #ededed;
  margin-bottom: 10px;
  margin-top: 30px;
}

.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 700;
  color: #01033e;
/*  margin-left: 40%;   */
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 5px 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6e6e6e;
  content: "/";
}

.bread{
  font-size: 28px;
  font-weight: 700;
  color: #01033e;
  margin-left: 50%;
  background: #f7f7f7;
}

@media (max-width: 768px) {
  .breadcrumbs {
  padding: 20px 0 5px 0;
  background: #f7f7f7;
  border-bottom: 1px solid #ededed;
  margin-bottom: 10px;
  margin-top: 30px;
}

.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 500;
  color: #01033e;
  margin-left: 30%;
}
}
/*--------------------------------------------------------------
# Featured
--------------------------------------------------------------*/
.featured {
  position: relative;
  z-index: 2;
}

.featured .icon-box {
  padding: 40px 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background: #fff;
  transition: all ease-in-out 0.3s;
}

.featured .icon-box i {
  color: #fdb305;
  font-size: 42px;
  margin-bottom: 15px;
  display: block;
}

.featured .icon-box h3 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 20px;
}

.featured .icon-box h3 a {
  color: #01033e;
  transition: 0.3s;
}

.featured .icon-box p {
  color: #01033e;
  line-height: 1.1;
  font-size: 14px;
  margin-bottom: 0;
}

.featured .icon-box:hover {
  background: #fdb305;
}

.featured .icon-box:hover i, .featured .icon-box:hover h3 a, .featured .icon-box:hover p {
  color: #fff;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 600;
  font-size: 26px;
  color: #01033e;
}

#about{
  background-color: #04165d21;
}

.btnread{
  border-radius: 20px;
  background-color: #020156;
  color: #fff;
  width: 100px;
  height: 40px;

}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 1px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #fdb305;
}

.about .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Our Services
--------------------------------------------------------------*/
.services .icon-box {
  text-align: center;
  border: 1px solid #ededed;
  padding: 10px 20px;
  transition: all ease-in-out 0.3s;
}

.strat .icon-box{
  text-align: center;
  border: 1px solid #ededed;
  padding: 10px 20px;
  transition: all ease-in-out 0.3s;
  background-color: #fff;
}

.strat{
  background: #fff;
}

.stratbx1{
  height: 40px;
  width: 300px;
  color: #fff;
  background-color:#020156;
  padding-top: 5px;
}

.stratbx2{
  height: 120px;
  width: 300px;
  color: #000;
  background-color:#fdb305;
  padding: 10px;

}

.services .icon-box .icon {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  background: #fdb305;
  border-radius: 5px;
  transition: all .3s ease-out 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transform-style: preserve-3d;
}

.services .icon-box .icon i {
  color: #fff;
  font-size: 28px;
}

.services .icon-box .icon::before {
  position: absolute;
  content: '';
  left: -8px;
  top: -8px;
  height: 100%;
  width: 100%;
  background: #fbe2dd;
  border-radius: 5px;
  transition: all .3s ease-out 0s;
  transform: translateZ(-1px);
}

.services .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

.services .icon-box h4 a {
  color: #01033e;
}

.services .icon-box p {
  line-height: 1.1;
  font-size: 16px;
  margin-bottom: 0;
  text-align: justify;
}

.services .icon-box:hover {
  background: #fdb305;
  border-color: #fdb305;
}

.services .icon-box:hover .icon {
  background: #fff;
}

.services .icon-box:hover .icon i {
  color: #fdb305;
}

.services .icon-box:hover .icon::before {
  background: #ef9383;
}

.services .icon-box:hover h4 a, .services .icon-box:hover p {
  color: #fff;
}

/*--------------------------------------------------------------
# Our Clients
--------------------------------------------------------------*/
#clients{
  background-color: #04165d21;
}

.clientimg{
  height: 80px;
  width: 80px;
}

.valueimg{
  height: 280px;
  width: 550px;
}

.clients .owl-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.clients .owl-item img {
  opacity: 1;
  width: 80%;
  transition: 0.3s;
  /*-webkit-filter: grayscale(100);
  filter: grayscale(100);*/
}

.clients .owl-item img:hover {
  -webkit-filter: none;
  filter: none;
  opacity: 1;
}

.clients .owl-nav, .clients .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.clients .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.clients .owl-dot.active {
  background-color: #fdb305 !important;
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts .count-box {
  box-shadow: -10px -5px 40px 0 rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 100%;
}

.counts .count-box i {
  display: block;
  font-size: 30px;
  color: #fdb305;
  float: left;
}

.counts .count-box span {
  font-size: 42px;
  line-height: 1.1;
  display: block;
  font-weight: 700;
  color: #01033e;
  margin-left: 50px;
}

.counts .count-box p {
  padding: 30px 0 0 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

.counts .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 20px;
  color: #7a7a7a;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  transition: ease-in-out 0.3s;
}

.counts .count-box a:hover {
  color: #a1a1a1;
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 40px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  position: relative;
  background: #fff;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50px;
  border: 6px solid #fff;
  float: left;
  margin: 0 10px 0 0;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}

.testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
  color: white;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 15px 0 0 0;
  padding: 0;
}

/*--------------------------------------------------------------
# Our Skills
--------------------------------------------------------------*/
.skills .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #01033e;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.skills .content ul {
  list-style: none;
  padding: 0;
}

.skills .content ul li {
  padding-bottom: 10px;
}

.skills .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #fdb305;
}

.skills .content p:last-child {
  margin-bottom: 0;
}

.skills .progress {
  height: 62px;
  display: block;
  background: none;
}

.skills .progress .skill {
  padding: 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #01033e;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #e0e0e0;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: .9s;
  background-color: #fdb305;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portimg{
  height: 200px;
  width: 400px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  background: white;
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 20px 12px 20px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  color: #444444;
  margin: 0 4px 8px 4px;
  transition: all ease-in-out 0.3s;
  border-radius: 50px;
  background: #f2f2f2;
}

.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  background: #fdb305;
  color: #fff;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(84, 84, 84, 0.6);
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(84, 84, 84, 0.6);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio .portfolio-wrap .portfolio-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #fff;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #fdb305;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details .portfolio-title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-details-carousel .owl-nav, .portfolio-details .portfolio-details-carousel .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.portfolio-details .portfolio-details-carousel .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.portfolio-details .portfolio-details-carousel .owl-dot.active {
  background-color: #fdb305 !important;
}

.portfolio-details .portfolio-info {
  padding-top: 45px;
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}

.portfolio-details .portfolio-info p {
  font-size: 15px;
  padding: 15px 0 0 0;
}

@media (max-width: 992px) {
  .portfolio-details .portfolio-info {
    padding-top: 20px;
  }
}

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing .row {
  padding-top: 40px;
}

.pricing .box {
  padding: 40px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  background: #fff;
  text-align: center;
}

.pricing h3 {
  font-weight: 300;
  margin-bottom: 15px;
  font-size: 28px;
}

.pricing h4 {
  font-size: 46px;
  color: #fdb305;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 25px;
}

.pricing h4 span {
  color: #bababa;
  font-size: 18px;
  display: block;
}

.pricing ul {
  padding: 0;
  list-style: none;
  color: #999;
  text-align: left;
  line-height: 1.1;
}

.pricing ul li {
  padding-bottom: 12px;
}

.pricing ul i {
  color: #fdb305;
  font-size: 18px;
  padding-right: 4px;
}

.pricing ul .na {
  color: #ccc;
}

.pricing ul .na i {
  color: #ccc;
}

.pricing ul .na span {
  text-decoration: line-through;
}

.pricing .buy-btn {
  background: #01033e;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 20px;
  color: #fff;
  transition: none;
  font-size: 14px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  transition: 0.3s;
}

.pricing .buy-btn:hover {
  background: #e96b56;
}

.pricing .featured {
  z-index: 10;
  margin: -30px -5px 0 -5px;
}

.pricing .featured .buy-btn {
  background: #e96b56;
}

.pricing .featured .buy-btn:hover {
  background: #ee8b7a;
}

@media (max-width: 992px) {
  .pricing .box {
    max-width: 60%;
    margin: 0 auto 30px auto;
  }
}

@media (max-width: 767px) {
  .pricing .box {
    max-width: 80%;
    margin: 0 auto 30px auto;
  }
}

@media (max-width: 420px) {
  .pricing .box {
    max-width: 100%;
    margin: 0 auto 30px auto;
  }
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team .member {
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 30px 20px;
  background: #fff;
}

.team .member img {
  max-width: 60%;
  border-radius: 50%;
  margin: 0 0 30px 0;
}

.team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
}

.team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
}

.team .member p {
  padding-top: 10px;
  font-size: 14px;
  font-style: italic;
  color: #aaaaaa;
}

.team .member .social {
  margin-top: 15px;
}

.team .member .social a {
  color: #919191;
  transition: 0.3s;
}

.team .member .social a:hover {
  color: #fdb305;
}

.team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box {
  color: #444444;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0 30px 0;
  height: 200px;
}

@media (max-width: 767px) {

.map{
  height: 1ss50;
  width: 250;
}
}
.contact .info-box i {
  font-size: 32px;
  color: #fdb305;
  border-radius: 50%;
  padding: 8px;
  border: 2px dotted #fef5f4;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #777777;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 1.1;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .php-email-form {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 30px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input::focus, .contact .php-email-form textarea::focus {
  background-color: #fdb305;
}

.contact .php-email-form input {
  padding: 20px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type="submit"] {
  background: #fdb305;
  border: 0;
  border-radius: 50px;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #020156;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
.blog {
  padding-bottom: 30px;
}

.blog .entry {
  padding: 30px;
  margin-bottom: 60px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog .entry .entry-img {
  max-height: 400px;
  margin: -30px -30px 20px -30px;
  overflow: hidden;
}

.blog .entry .entry-title {
  font-size: 28px;
  font-weight: bold;
  padding: 0;
  margin: 0 0 20px 0;
}

.blog .entry .entry-title a {
  color: #01033e;
  transition: 0.3s;
}

.blog .entry .entry-title a:hover {
  color: #fdb305;
}

.blog .entry .entry-meta {
  margin-bottom: 15px;
  color: #bababa;
}

.blog .entry .entry-meta ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.blog .entry .entry-meta ul li + li {
  padding-left: 20px;
}

.blog .entry .entry-meta i {
  font-size: 14px;
  padding-right: 4px;
}

.blog .entry .entry-meta a {
  color: #a1a1a1;
  font-size: 14px;
  display: inline-block;
  line-height: 1;
}

.blog .entry .entry-content p {
  line-height: 1.1;
}

.blog .entry .entry-content .read-more {
  -moz-text-align-last: right;
  text-align-last: right;
}

.blog .entry .entry-content .read-more a {
  display: inline-block;
  background: #fdb305;
  color: #fff;
  padding: 6px 20px 8px 20px;
  transition: 0.3s;
  font-size: 14px;
  border-radius: 50px;
}

.blog .entry .entry-content .read-more a:hover {
  background: #e6573f;
}

.blog .entry .entry-content h3 {
  font-size: 22px;
  margin-top: 30px;
  font-weight: bold;
}

.blog .entry .entry-content blockquote {
  overflow: hidden;
  background-color: #fafafa;
  padding: 60px;
  position: relative;
  text-align: center;
  margin: 20px 0;
}

.blog .entry .entry-content blockquote p {
  color: #444444;
  line-height: 1.1;
  margin-bottom: 0;
  font-style: italic;
  font-weight: 500;
  font-size: 22px;
}

.blog .entry .entry-content blockquote .quote-left {
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 36px;
  color: #e7e7e7;
}

.blog .entry .entry-content blockquote .quote-right {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 36px;
  color: #e7e7e7;
}

.blog .entry .entry-content blockquote::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: #01033e;
  margin-top: 20px;
  margin-bottom: 20px;
}

.blog .entry .entry-footer {
  padding-top: 10px;
  border-top: 1px solid #e6e6e6;
}

.blog .entry .entry-footer i {
  color: #a1a1a1;
  display: inline;
}

.blog .entry .entry-footer a {
  color: #cecece;
  transition: 0.3s;
}

.blog .entry .entry-footer a:hover {
  color: #fdb305;
}

.blog .entry .entry-footer .cats {
  list-style: none;
  display: inline;
  padding: 0 20px 0 0;
  font-size: 14px;
}

.blog .entry .entry-footer .cats li {
  display: inline-block;
}

.blog .entry .entry-footer .tags {
  list-style: none;
  display: inline;
  padding: 0;
  font-size: 14px;
}

.blog .entry .entry-footer .tags li {
  display: inline-block;
}

.blog .entry .entry-footer .tags li + li::before {
  padding-right: 6px;
  color: #6c757d;
  content: ",";
}

.blog .entry .entry-footer .share {
  font-size: 16px;
}

.blog .entry .entry-footer .share i {
  padding-left: 5px;
}

.blog .entry-single {
  margin-bottom: 30px;
}

.blog .blog-author {
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog .blog-author img {
  width: 120px;
}

.blog .blog-author h4 {
  margin-left: 140px;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 0px;
  padding: 0;
}

.blog .blog-author .social-links {
  margin: 0 0 5px 140px;
}

.blog .blog-author .social-links a {
  color: #bababa;
}

.blog .blog-author p {
  margin-left: 140px;
  font-style: italic;
  color: #b7b7b7;
}

.blog .blog-comments {
  margin-bottom: 30px;
}

.blog .blog-comments .comments-count {
  font-weight: bold;
}

.blog .blog-comments .comment {
  margin-top: 30px;
  position: relative;
}

.blog .blog-comments .comment .comment-img {
  width: 50px;
}

.blog .blog-comments .comment h5 {
  margin-left: 65px;
  font-size: 16px;
  margin-bottom: 2px;
}

.blog .blog-comments .comment h5 a {
  font-weight: bold;
  color: #444444;
  transition: 0.3s;
}

.blog .blog-comments .comment h5 a:hover {
  color: #fdb305;
}

.blog .blog-comments .comment h5 .reply {
  padding-left: 10px;
  color: #01033e;
}

.blog .blog-comments .comment time {
  margin-left: 65px;
  display: block;
  font-size: 14px;
  color: #bababa;
  margin-bottom: 5px;
}

.blog .blog-comments .comment p {
  margin-left: 65px;
}

.blog .blog-comments .comment.comment-reply {
  padding-left: 40px;
}

.blog .blog-comments .reply-form {
  margin-top: 30px;
  padding: 30px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog .blog-comments .reply-form h4 {
  font-weight: bold;
  font-size: 22px;
}

.blog .blog-comments .reply-form p {
  font-size: 14px;
}

.blog .blog-comments .reply-form input {
  border-radius: 50px;
  padding: 20px 10px 20px 20px;
  font-size: 14px;
}

.blog .blog-comments .reply-form input:focus {
  box-shadow: none;
  border-color: #f5bab0;
}

.blog .blog-comments .reply-form textarea {
  border-radius: 5px;
  padding: 10px 12px;
  font-size: 14px;
}

.blog .blog-comments .reply-form textarea:focus {
  box-shadow: none;
  border-color: #f5bab0;
}

.blog .blog-comments .reply-form .form-group {
  margin-bottom: 25px;
}

.blog .blog-comments .reply-form .btn-primary {
  border-radius: 50px;
  padding: 10px 30px;
  border: 0;
  background-color: #01033e;
}

.blog .blog-comments .reply-form .btn-primary:hover {
  background-color: #fdb305;
}

.blog .blog-pagination {
  color: #878787;
}

.blog .blog-pagination ul {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.blog .blog-pagination li {
  border: 1px solid white;
  margin: 0 5px;
  transition: 0.3s;
}

.blog .blog-pagination li.active {
  background: white;
}

.blog .blog-pagination li a {
  color: #aaaaaa;
  padding: 7px 16px;
  display: inline-block;
}

.blog .blog-pagination li.active, .blog .blog-pagination li:hover {
  background: #fdb305;
  border: 1px solid #fdb305;
}

.blog .blog-pagination li.active a, .blog .blog-pagination li:hover a {
  color: #fff;
}

.blog .blog-pagination li.disabled {
  background: #fff;
  border: 1px solid white;
}

.blog .blog-pagination li.disabled i {
  color: #f1f1f1;
  padding: 10px 16px;
  display: inline-block;
}

.blog .sidebar {
  padding: 30px;
  margin: 0 0 60px 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog .sidebar .sidebar-title {
  font-size: 20px;
  font-weight: 700;
  padding: 0 0 0 0;
  margin: 0 0 15px 0;
  color: #01033e;
  position: relative;
}

.blog .sidebar .sidebar-item {
  margin-bottom: 30px;
}

.blog .sidebar .search-form form {
  background: #fff;
  border: 1px solid #ddd;
  padding: 3px 10px;
  position: relative;
  border-radius: 50px;
}

.blog .sidebar .search-form form input[type="text"] {
  border: 0;
  padding: 4px;
  width: calc(100% - 40px);
}

.blog .sidebar .search-form form button {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 25px;
  margin: -1px;
  background: #01033e;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
}

.blog .sidebar .search-form form button:hover {
  background: #e96b56;
}

.blog .sidebar .categories ul {
  list-style: none;
  padding: 0;
}

.blog .sidebar .categories ul li + li {
  padding-top: 10px;
}

.blog .sidebar .categories ul a {
  color: #949494;
}

.blog .sidebar .categories ul a:hover {
  color: #e96b56;
}

.blog .sidebar .categories ul a span {
  padding-left: 5px;
  color: #bababa;
  font-size: 14px;
}

.blog .sidebar .recent-posts .post-item + .post-item {
  margin-top: 15px;
}

.blog .sidebar .recent-posts img {
  width: 80px;
  float: left;
}

.blog .sidebar .recent-posts h4 {
  font-size: 15px;
  margin-left: 95px;
  font-weight: bold;
}

.blog .sidebar .recent-posts h4 a {
  color: #212121;
  transition: 0.3s;
}

.blog .sidebar .recent-posts h4 a:hover {
  color: #fdb305;
}

.blog .sidebar .recent-posts time {
  display: block;
  margin-left: 95px;
  font-style: italic;
  font-size: 14px;
  color: #bababa;
}

.blog .sidebar .tags {
  margin-bottom: -10px;
}

.blog .sidebar .tags ul {
  list-style: none;
  padding: 0;
}

.blog .sidebar .tags ul li {
  display: inline-block;
}

.blog .sidebar .tags ul a {
  color: #949494;
  font-size: 14px;
  padding: 6px 15px 8px 15px;
  margin: 0 6px 8px 0;
  border: 1px solid #ededed;
  border-radius: 50px;
  display: inline-block;
  transition: 0.3s;
}

.blog .sidebar .tags ul a:hover {
  color: #fff;
  border-color: #e96b56;
  background: #e96b56;
}

.blog .sidebar .tags ul a span {
  padding-left: 5px;
  color: #ededed;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #404040;
  padding: 0 0 10px 0;
  color: #fff;
  font-size: 14px;
}

#footer .footer-newsletter {
  padding: 50px 0;
  background: #404040;
}

#footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
}

#footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 8px;
  width: calc(100% - 140px);
}

#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 30px;
  margin: 3px;
  background: #e96b56;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
}

#footer .footer-newsletter form input[type="submit"]:hover {
  background: #e6573f;
}

#footer .footer-top {
  background: #00040b;
  border-top: 1px solid #474747;
  border-bottom: 1px solid #474747;
  padding: 10px 0 7px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 18px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 600;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 1.1;
  margin-bottom: 0;
  /* font-family: "Raleway", sans-serif; */
  color: #fff;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #01033e;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #fdb305;
  color: #fff;
  text-decoration: none;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #fdb305;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  color: #fdb305;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 1.2;
}

#footer .copyright {
  text-align: center;
  padding-top: 10px;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

footer{
  font-family: 'Cormorant Garamond', serif;
}

.pushed-down{
  padding-top:32px;
}
}